@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .npm {
    width: 60px;
    margin-right: 1rem;
  }
#BAT {
    background-color: rgba(232,217,217,.3);
    height: 600px;
}
#mainHeading {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 15px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
#essentialText{
    font-size: 1rem;
    color: black;
    margin: 10px; 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  