@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .npm {
    width: 60px;
    margin-right: 1rem;
  }
#BAT {
    background-color: rgba(232,217,217,.3);
    height: 600px;
}
#mainHeading {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 15px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
#essentialText{
    font-size: 1rem;
    color: black;
    margin: 20px auto; 
    max-width: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#links{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
  .plans {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    font-weight: bold;
  }
  .join {
    color: black;
    font-weight: bold;
    padding: 10px 20px;
  }
  #bestOpen {
    background-color: rgba(232,217,217,.3);
    height: 600px;  
  }
  #triangle {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50;
  }
  #secondHeading{
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    margin: auto;
    max-width: fit-content;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 15px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #tool {
    font-size: 1rem;
    color: black;
    margin: 20px auto; 
    max-width: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }